#header .wrap.cubpage
  height: 175px
  #header_title.cubpage_title
    width: 510px

.site-content 
  font: normal 14px/21px $regular
  .cubpage_slider
    height: 500px
    background-color: rgba(0,0,0,0.5)
    line-height: 500px
    text-align: center
    margin-top:-2px
  .cubpage_content
    padding-top: 1px
    padding-bottom: 1px
    color: $cubpage_color
    .content_title
      font: normal 14px/21px $menu
      margin: 70px 50px 0px
      double-shadow-h1: $cubpage_color $cubpage_color $cubpage_bgcolor $cubpage_color 30px
      a
        cursor: default
    .cubpage_subcontent
      color: $cubpage_color
      margin: 35px 50px 0px


    a.subcontentlink
      span.flag2
        font-weight: bold
        font-size: 12px

    hr
      border-color: $cubpage_color
      border-bottom: 1px solid $cubpage_color
      height: 6px
      margin: 40px 0px

    ul
      width: 100%
      li
      li.ordinal
        width: 30%
        float: left
        margin-left: 3%
        p
          width: auto
      li.ordinal
        double-shadow-p: $cubpage_color $cubpage_color $cubpage_bgcolor $cubpage_color 30px
        font: normal 14px/21px $menu
        font-size: 20px
        font-weight: bold
        text-align: center
    p
      width: 580px
