.page-content
  padding-top: 1px
  padding-bottom: 1px
  color: $cubpage_color
  .content_title
    font: normal 14px/21px $menu
    margin: 70px 50px 0px
    double-shadow-h1: $cubpage_color $cubpage_color $cubpage_bgcolor $cubpage_color 30px
    a
      cursor: default
  .subcontent
    color: $cubpage_color
    margin: 35px 50px 35px

