@media only screen and (max-width : 500px)
  #filters_menus
    div.wrap
      height: 160px
      div.filter_rank
        right: 50%
        top: 85px
      div.filter_social
        left: 50%
      ul#filters_rank
        right: 50%
      ul#filters_social
        left: 50%
        bottom: 85px
        width: 190px
        margin-left: -95px
  .item
    &.size-2x2
      width: 310px
      height: 310px
    &.size-2x1
      width: 310px
      height: 155px
    &.size-1x1
      width: 155px
      height: 155px

  div#header 
    .wrap
      div#header_title 
        font-size: 38px;
        height: 49px;
        line-height: 47px;
        width: 235px
        &:before,
        &:after
          top: 20px
  div#footer div#footer_become_cub
    width: 165px
    a
      color: rgb(255, 255, 255)
      font-size: 38px
      height: 36px
      line-height: 36px
