#filters_menus
  .wrap
    font: normal 14px/21px $menu
    height: 70px
    background-color: #0f384c
    border-top: 1px solid #4f7687
    border-bottom: 1px solid black
    .header_reset
      margin: 22px 22px 0px 33px
      width: 88px
      float: left

    div.filter_social
    div.filter_resources
    div.filter_rank
    div.view_by
      display: block
      width: 100px
      margin: 26px 8px 0px 0px
      float: left
      text-align: center
      double-shadow-p: white $yellow #0f384c #c5ccd2 18px
    div.filter_resources
      width: 54px

    div.filter_rank
      margin: 26px 8px 0px 15px
    div.view_by
      width: 55px
      margin: 26px 0 0 275px
