#main-container
  width: 1200px
  margin:0 auto
  position:relative
  #header
  #main
  #footer
    width:100%
    padding-left:240px
    margin-left:-240px
    float:right
    box-sizing: border-box
  /* to fix the sidebar bg pulled to bottom*/
  #footer
    margin-bottom:-135px
  #sidebar
    width:240px
    float:left

