#primary
  background: url(images/bg-white.jpg) repeat-y right
  padding: 2px 0
  > hr
    background: url(images/sprite.png) no-repeat 0 bottom
    border: none
    height:10px
    margin:0
    padding:0
