/* colors */
$blue = #0c3b55
$yellow = #fcc300

$border_menu_light = #51738c
$border_menu_dark = black

$border_footer = #504835
$cubpage_color = #524233
$cubpage_bgcolor = #f1f1f1

$text_color = #524233
$links = $text_color

$item_facebook_hobg = #2f6eef
$item_twitter_hobg = #1da5b3
$item_youtube_hobg = #ca2424
$item_pinterest_hobg = #803935
$item_cubhub_hobg = #ffdd00
$item_instagram_hobg = #6b5c33

$resource_listview_color = #4e4536
$resource_gridview_h1 = #baa179
